#titlebar{
    background-color: white;
    padding:5px;
    border-radius: 5px;
    color: black;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#partyrow{
display: flex;
flex-direction: row;
}
#partyrow div{
  display: flex; 
  flex-direction: row;
}
.leadcontainer{
  width: 30vw;
  height: 200px;
  background-color: green;
  margin: 1px;  
}
.partycontainer{
  width: 30vw;
  height: 200px;
  background-color: gray;
  margin: 1px;
}


#stock{
    background-color: black;
    padding:5px;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;  
}


#infobox{
    background-color: #dddbdc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#mainContainer {
    display: flex;
    flex-direction: column;
  }
  #mainContainer div {
    display: flex;
    flex-direction: row;
  }
  .container {
    width: 30vw;
    height: 200px;
    background-color: gray;
    margin: 1px;
  }


body{
        background-color: #9c9a9d;
        
}


